<h1>About Oui, Flea</h1>

<h4>Oui, Flea was created by an antique lover for antique lovers to showcase their collections and highlight the flea markets where they purchased them.</h4>
<h4>Users get inspired by browsing through images of all the latest antiques and can get a taste of what a particular market has to offer based on other users uploads.<br>
Future updates include the ability to like antiques thereby saving them for the user to view.</h4>