<br>

<div class="grid_container">

    <div class="home_item_1">
   
    </div>

    <div class="home_item_2">
        <img><%= image_tag("logo-home") %></img>
    </div>

    <div class="home_item_3">
        <h1>from france and beyond -</h1>
        <h1><em>flea markets at your fingertips!</em></h1>
    </div>

</div>

<%= render 'layouts/buttonbar' %>



