<h1>all antiques</h1>
<div class="grid_container">

    <% @antiques.each do |antique| %>
        <div class="antique_item">
            <h5><%= link_to "@#{antique.user.username}", user_path(antique.user_id) %></h5>
            <img><%= image_tag antique.antique_photo %></img>
            <h5><%= "placeholder hearts" %></h5>
        </div>
    <% end %>

</div>