<h1>all antiques</h1>
<div class="grid_container">

    <% @antiques.each do |antique| %>
        <div class="antique_item">
            <p><%= antique.user.first_name %></p>
            <img><%= image_tag antique.antique_photo %></img>
            <p><%= "placeholder hearts" %></p>
        </div>
    <% end %>

</div>