<h1><%= "@#{@user.username}" %></h1>

<% if logged_in_user(@user) %>
    <%= render 'layouts/buttonbar' %>
<% end %>

<div class="grid_container">

    <% @owned_antiques.each do |owned_antique| %>
        <div class="antique_item">
            <img><%= image_tag owned_antique.antique_photo %></img>
            <h5><%= link_to "view antique", antique_path(owned_antique) %></h5>
        </div>
    <% end %>

</div>



