<h1>all markets</h1>
<% @markets.each do |market| %>
    <div class="market_item">
        <p><%= link_to "#{market.name}", market_antiques_path(market) %></p>
        <p><%= market.location %></p>
        <br>
    </div>
<% end %>