// Place all the styles related to the Markets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@media screen {

  .item_1 {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 9;
  }

  .item_2 {
    grid-column-start: 8;
    grid-column-end: 11;
    grid-row-start: 5;
    grid-row-end: 5;
  }

  .item_3 {
    grid-column-start: 8;
    grid-column-end: 11;
    grid-row-start: 6;
    grid-row-end: 6;
  }

  .item_4 {
    grid-column-start: 8;
    grid-column-end: 11;
    grid-row-start: 7;
    grid-row-end: 7;
  }
  .item_5 {
    grid-column-start: 8;
    grid-column-end: 11;
    grid-row-start: 8;
    grid-row-end: 8;
  }

  .item_6 {
    grid-column-start: 8;
    grid-column-end: 11;
    grid-row-start: 9;
    grid-row-end: 9;
  }



}
