
<div class="grid_container">

    <div class="bb1">
        <%= link_to "Add an Antique", new_antique_path(@antique) %>
    </div>

    <div class="bb2">
        <%= link_to "View Latest Antiques", antiques_path(@antiques) %>
    </div>

    <div class="bb3">
        <%= link_to "Add a new Market", new_market_path(@market) %>
    </div>

    <div class="bb4">
        <%= link_to "Check out all Flea Markets", markets_path(@markets) %>
    </div>

</div>



