<% if !object.errors.empty? %>
    <div class="error_box">
        <h2>Errors:</h2>
        <ul>
            <% object.errors.full_messages.each do |message| %>
                <li class="error_explaination">- <%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>