<% if !object.errors.empty? %>
    <div class="error_explanation">
        <h3>Errors:</h2>
        <ul>
            <% object.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>